*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana;

}
.mydetails {
  background-color: rgb(6, 162, 252);
  display: flex;
  /* justify-content: space-evenly; */
  padding-top: 40px;
  padding-bottom: 20px;
}
.myname {
  width: 300px;
  margin-left: 70px;
}
.myname h1 {
color:#ffffff;
line-height:1.3;
text-transform: uppercase;
font-size:32px;
}
.contact-details{
  margin-left: 120px;
  /* background-color: violet */
}
.contact-details h3 {
  color: #ffffff;
  font-size: 14px;
}
.contact-details p {
color:#dacccc;
font-weight: 500;
}
